$dark-main : #2D2926FF;
$light-main : #E94B3CFF;
$l-light-main : #dc6d63;
$input-color: #FFF;
$button-color: #FFF;
$button-bg: #4f9851;
$button-border: #64dc27;
$body-bg : $dark-main;
$texts: $light-main;

$border-radius: 10px;
